{% extends 'LibSite/layout.html' %}

{% block title %}Отдел электронного каталога и развития информационных ресурсов{% endblock  %}

{% block content %}
<h1>Отдел электронного каталога и развития информационных ресурсов</h1>

<p>
<strong>Заведующая отделом:</strong> Керимкулова Бактыгуль Мелисовна<br>
<strong>E-mail:</strong> b.kerimkulova_79@mail.ru<br>
<strong>Расположение:</strong> 1/270,1/271<br><br>

<strong>Часы работы:</strong> понедельник-пятница — 8:00–16:45<br>
суббота, воскресенье —выходной<br>
последний четверг месяца — санитарный день<br><br>

<strong>Основная задача отдела комплектования</strong> — формирование библиотечного фонда. При комплектовании учитываются особенности профиля университета и учебных планов. Работа ведется в тесном контакте с сотрудниками кафедр.<br><br>
Отдел обеспечивает научно-обоснованное, полное комплектование фонда НТБ КГТУ документами на бумажных и электронных носителях. Обеспечивает многоаспектное раскрытие фонда в системе традиционных и электронного каталогов с целью научно-обоснованного, точного, полного удовлетворения читательских запросов.<br><br>

Отдел комплектования осуществляет полное и оперативное, текущее и ретроспективное комплектование фонда библиотеки документами, обеспечивающими учебно-воспитательную и научно-исследовательскую работу университета.<br><br>

<strong>Основные источники комплектования:</strong></p>
<ul style="margin-left:50px">
<li>книготорговые организации;</li>
<li>различные издательства и учреждения города;</li>
<li>агентства «Роспечати» и «Кыргызпочтасы»;</li>
<li>дары частных лиц;</li>
<li>Типография «Техник»</li>
</ul><br><br><br>


{% endblock %}