{% extends 'LibSite/layout.html' %}

{% block title %}Отдел электронной документации и библиографии{% endblock  %}

{% block content %}
<h1>Отдел электронной документации и библиографии</h1>

<p>
<strong>Заведующая отделом:</strong> Манаковская Нина Владимировна<br><br>

<strong>Телефон:</strong> 545181<br>
<strong>E-mail:</strong> manakovskaia@mail.ru<br>
<strong>Расположение:</strong> 1/268<br><br><br>

 

<strong>Часы работы:</strong> понедельник-пятница — 8:00–16:45<br>
суббота, воскресенье —выходной<br>
последний четверг месяца — санитарный день<br><br>

Отдел электронной документации и библиографии обслуживает информационные запросы пользователей библиотеки. Работа отдела состоит из двух направлений:<br>
1) Направление электронная документация<br><br>

<strong>ЗАНИМАЕТСЯ:</strong></p>

<ul style="margin-left:50px">
<li>Поиском, изучением, анализом новых информационных ресурсов;</li>
<li>Тестированием предлагаемых электронных ресурсов;</li>
<li>Приобретением  информационных ресурсов;</li>
<li>Размещением учебных и научных материалов на совместной платформе Kyrlibnet</li>
</ul>
<p>2) Направление справочно-библиографического обслуживания<br><br>

<strong>ОСУЩЕСТВЛЯЕТ:</strong><br>
справочно-библиографическое и информационное обслуживание пользователей формирование библиографических информационных ресурсов
<br><br>
<strong>ОРГАНИЗУЕТ И ПРОВОДИТ:</strong><br>
Тематические выставки<br><br>

<strong>ВЫПОЛНЯЕТ:</strong></p>
<ul style="margin-left:50px">
<li>библиографические справки: уточняющие, адресные, фактографические</li>
<li>письменные тематические справки по заявкам кафедр и подразделений университета</li>
</ul>
<p>
<strong>ПРЕДЛАГАЕТ</strong> к использованию фонд научно-библиографического отдела:<br><br>

— Энциклопедии универсальные и отраслевые<br>
— Словари: языковые, терминологические, отраслевые, биографические<br>
— Справочники общетехнического содержания и по отдельным отраслям науки и техники<br>
— Компьютерный зал с доступом в интернет и электронным ресурсам<br>
</p>

{% endblock %}