{% extends 'LibSite/layout.html' %}

{% block title %}Отдел обучения и автоматизации{% endblock  %}

{% block content %}
<h1>Отдел обучения и автоматизации</h1>

<p>
<strong>Заведующая отделом:</strong> Пироженко Ольга Васильевна<br>
<strong>E-mail:</strong> opirojenko@mail.ru<br>
<strong>Расположение:</strong> 1/262<br><br>

<strong>Часы работы:</strong> понедельник-пятница — 8:00–16:45<br>
суббота, воскресенье —выходной<br>
последний четверг месяца — санитарный день<br><br><br>

 

Отдел  обучения и автоматизации научно-технической информации организует и проводит занятия по курсам «Основы работы с библиотечными ресурсами», которые разработаны и внедрены в НТБ:<br>

Для студентов 1 курса дневного отделения;<br></p>
<ul style="margin-left:50px">
<li>Для учащихся лицея при КГТУ</li>
<li>Для учащихся колледжа при КГТУ</li>
<li>Также отдел обучения</li><br><br>


<li>готовит и проводит презентации,</li>
<li>занимается разработкой новых учебных материалов,</li>
<li>организует и проводит курсы повышения квалификации среди сотрудников библиотеки.</li><br>
</ul>
<p> 
Отдел автоматизации библиотечно-информационных процессов осуществляет комплекс работ, связанных с освоением, адаптацией, внедрением и использованием современных информационных технологий в производственных процессах библиотеки
</p>

{% endblock %}