{% extends 'LibSite/layout.html' %}

{% block title %}Доступ к базам данных НТБ КГТУ{% endblock  %}

{% block content %}
	<h1>Доступ к базам данных НТБ КГТУ</h1>
	<table class="table" style="margin: 50px; width: 800px;">
  <thead>
    <tr>
      <th scope="col">Название</th>
      <th scope="col">Адрес</th>
      <th scope="col">Доступ</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>ЕАПАТИС Патентная база</td>
      <td><a href="http://www.eapatis.com/">http://www.eapatis.com/</a></td>
      <td><strong>По логину и паролю</strong></td>
    </tr>
    <tr>
      <td> Polpred.com Обзор СМИ</td>
      <td><a href="http://www.polpred.com/">http://www.polpred.com/</a></td>
      <td><strong>Свободный доступ</strong></td>
    </tr>
    <tr>
      <td> INTECH</td>
      <td><a href="http://www.intechopen.com/">http://www.intechopen.com/</a></td>
      <td><strong>Свободный доступ</strong></td>
    </tr>
    <tr>
      <td> OAPEN</td>
      <td><a href="http://www.oapen.org/">http://www.oapen.org/</a></td>
      <td><strong>Свободный доступ</strong></td>
    </tr>
    <tr>
      <td> World E-Book Library</td>
      <td><a href="http://community.ebooklibrary.org/">http://community.ebooklibrary.org/</a></td>
      <td><strong>Свободный доступ</strong></td>
    </tr>
    <tr>
      <td>  IOPscience</td>
      <td><a href="http://iopscience.iop.org/search">http://iopscience.iop.org/search</a></td>
      <td><strong>Свободный доступ</strong></td>
    </tr>
    <tr>
      <td>  Electronic Journals Library</td>
      <td><a href="http://rzblx1.uni-regensburg.de/ezeit/">http://rzblx1.uni-regensburg.de/ezeit/</a></td>
      <td><strong>Свободный доступ</strong></td>
    </tr>
    <tr>
      <td> HINARI</td>
      <td><a href="http://www.who.int/hinari">http://www.who.int/hinari</a></td>
      <td><strong>Свободный доступ</strong></td>
    </tr>
    <tr>
      <td> AGORA</td>
      <td><a href="http://www.aginternetwork.org/">http://www.aginternetwork.org/</a></td>
      <td><strong>По логину и паролю</strong></td>
    </tr>
    <tr>
      <td>  OARE</td>
      <td><a href="http://oare.oaresciences.org/content/%20en/journals.ph">http://oare.oaresciences.org/content/%20en/journals.ph</a></td>
      <td><strong>По логину и паролю</strong></td>
    </tr>
    <tr>
      <td> Арбикон</td>
      <td><a href="http://arbicon.ru/">http://arbicon.ru/</a></td>
      <td><strong>Свободный доступ</strong></td>
    </tr>
    <tr>
      <td> Лань</td>
      <td><a href="http://e.lanbook.com/">http://e.lanbook.com/</a></td>
      <td><strong>Свободный доступ</strong></td>
    </tr>
    <tr>
      <td> WEB OF SCIENCE</td>
      <td><a href="http://webofscience.com/">http://webofscience.com/</a></td>
      <td><strong>Свободный доступ</strong></td>
    </tr>
    <tr>
      <td> КИРЛИБНЕТ</td>
      <td><a href="http://kyrlibnet.kg/">http://kyrlibnet.kg/</a></td>
      <td><strong>Свободный доступ</strong></td>
    </tr>
    <tr>
      <td> УНИВЕРСИТЕТСКАЯ БИБЛИОТЕКА ONLINE</td>
      <td><a href="http://biblioclub.ru/">http://biblioclub.ru/</a></td>
      <td><strong>Свободный доступ</strong></td>
    </tr>
  </tbody>
</table>
{% endblock  %}