{% extends 'LibSite/layout.html' %}

{% block title %}Электронная библиотека{% endblock  %}

{% block content %}
	<h1>Электронная библиотека</h1>
	<div class="texbox">
		<p>Уважаемые посетители сайта библиотеки!<br><br>

		Теперь  для вас открыт доступ к электронной библиотеке через сайт библиотеки.<br><br>

		Чтобы воспользоваться доступом, необходимо пройти регистрацию (с собой иметь читательский билет). Вам будет присвоен логин и пароль, на основании которого удаленный доступ к ЭБ станет возможным.<br></p>
	</div>
	<a href="http://elib.kyrlibnet.kg/" class="btn btn-success" target="_blank" style="margin-left: 50px">Войти в библиотеку</button></a>
{% endblock  %}