{% extends 'LibSite/layout.html' %}

{% block title %}Справочник читателя{% endblock  %}

{% block content %}
	<h1>Справочник читателя</h1>
	<div class="texbox">
		<p style="margin: 50px">
На время обучения вам становится доступен универсальный по составу библиотечный фонд. Книги – учебные, научные и популярные по всем отраслям знания и практики.
<br><br>
Библиотека ждет вас на абонементе и в читальных залах (естественно-научный читальный зал, гуманитарный читальный зал, читальный зал научной литературы и  периодики). В каждом из этих отделов хранится и выдается своя часть библиотечного фонда.
<br><br>
На абонементе вы можете взять книги на дом на время, оговоренное правилами.
<br><br>
В читальных залах можно воспользоваться учебными пособиями, все экземпляры которых оказались уже выданными на абонементе, справочниками, энциклопедиями и научной литературой, а также редкими изданиями, которых на абонементе нет.
<br><br>
В естественнонаучном читальном зале – книги по математике, физике, химии, наукам о Земле, по биологии и экологии, по технике и технологиям, по компьютерным наукам и информационным технологиям.
<br><br>
В гуманитарном читальном зале собраны книги по истории, социологии, экономике, юриспруденции, языкознанию, психологии, культурологии и другим социальным и гуманитарным наукам.
<br><br>
Читальный зал естественной и технической  литературы– это зона Wi-Fi. Имеются компьютеры с доступом в Интернет.
<br><br>
Для того чтобы библиотека пополнялась, обновлялась, чтобы можно было удобно найти нужную литературу, в ней имеются еще отделы. Там ведется комплексное комплектование фонда библиотеки, создается его электронный каталог (происходит библиографическая и аналитическая обработка книг и журналов), организуется пользование библиотекой и внешними ресурсами (в том числе с ограниченным доступом) посредством сайта. Отдел обучения и автоматизации поддерживает работу автоматизированной библиотечной системы в целом и ее отдельные процессы.
<br><br>
 

Где расположена библиотека?<br>
Время работы?<br>
Как записаться в библиотеку и получить читательский билет?<br>
<br>
Как узнать о книгах, которые имеются в библиотеке?<br>
Где выдаются учебники?<br>
Где посмотреть журналы?<br>
Вы потеряли книгу?<br>
Что доступно в электронном виде?<br>
Какую помощь вам всегда окажут?<br>
Книги пора возвращать, а они еще нужны?<br>
Нужен Интернет или негде позаниматься во время «окна»?<br>

<br>
<strong>Где расположена библиотека?</strong><br>
Библиотека расположена на 2 этаже главного корпуса университета в правом крыле.
<br><br>

<strong>Время работы:</strong>
Ежедневно с 8 до 16-45, кроме субботы и воскресенья.
Санитарный день – последний четверг каждого месяца.
<br><br>

<strong>Как записаться в библиотеку и получить читательский билет?</strong><br>
Запись в библиотеку для первокурсников происходит одновременно с выдачей читательских билетов. Это происходит на студенческом абонементе .
<br><br>

<strong>Как узнать о книгах, которые имеются в библиотеке?</strong><br>
Информацию обо всех имеющихся в библиотеке изданиях, о месте их хранения и наличии сообщает электронный каталог. Каталог доступен во всех отделах библиотеки – на абонементе, в читальных залах компьютерных центрах, а также на сайте библиотеки.
В библиотеке проводятся консультации и занятия по пользованию каталогом, в ходе которых можно освоить все нюансы «общения» с ним: составления запроса, подбора ключевых слов, чтения библиографической записи, а также приемы сужения, расширения и уточнения поиска при подборе литературы по теме.
<br><br>

<strong>Где выдаются учебники?</strong><br>
Учебники выдаются на студенческом и преподавательском абонементах (ауд.1/268)<br>
Для получения учебников необходимо иметь читательский билет.<br>
Учебники выдаются согласно графикам выдачи по факультетам.<br>
<br>

<strong>Где посмотреть журналы?</strong><br>
Журналы по всем отраслям знания хранятся в читальном зале научной литературы и периодики ( главный корпус, ауд. 1/264).
<br><br>

<strong>Приходите на абонемент</strong>, там вам объяснят, что может послужить равноценной заменой этой книги.
Если вам не досталась книга на абонементе, вполне вероятно, что экземпляр (а иногда несколько экземпляров) книги есть в читальном зале или книга может обнаружиться электронной библиотеке (lib/).<br><br>


<strong>Что доступно в электронном виде?</strong><br>
Библиотека организует доступ к кыргызским и зарубежным базам данных с полными текстами книг, статей и других документов через Интернет. Эти внешние ресурсы дополняют собственный фонд библиотеки,.. Но пользование некоторыми внешними ресурсами ограничено определенными условиями, для каждого источника своими. Все читатели университета – преподаватели, сотрудники, студенты и аспиранты могут пользоваться этими электронными ресурсами бесплатно, но на определенных условиях.<br>
Вход (условия доступа) в каждую систему происходит по-разному. Это может быть доступ с любого компьютера библиотеки, имеющего выход в Интернет по логину и паролю, либо ресурс установлен на определенном компьютере. Все эти тонкости Вам разъяснят сотрудники библиотеки.
Студенты могут пользоваться электронной библиотекой, доступ к которой организован через сайт библиотеки (lib.kstu.kg) . Несмотря на некоторые особенности, алгоритм поиска во всех библиографических базах данных единообразен. Так же как и в каталоге, он происходит по запросу, который необходимо продумать. Так же необходимо выбирать поля, сочетать термины поиска.
На сайте библиотеки систематизированы ресурсы Интернета со свободным доступом, которые могут пригодиться студентам различных направлений обучения.
<br><br>

<strong>Какую помощь вам всегда окажут?</strong><br>
Если вы хотите самостоятельно поискать что-либо в каталоге – вас проконсультируют, как это сделать.<br>
Для тех, кто хочет искать в электронном каталоге самостоятельно и эффективно, проводятся занятия силами библиотекарей. Чтобы попасть на эти занятия, следите за расписанием и объявлениями.<br><br>


<strong>Книги пора возвращать, а они еще нужны</strong><br>
Срок пользования литературой можно продлить. Заметьте, что этот срок для разных видов литературы различен; учебной литературой можно пользоваться в течение всего семестра.<br><br>


<strong>Нужен Интернет или негде позаниматься во время «окна»?</strong><br>
Приходите в читальные залы и компьютерные центры . Интернет доступен бесплатно в аудиториях 1/262, 1/268. В читальном зале естественно-научной и технической литературы доступ к интернет организован по технологии WI-FI.<br>
О правах, обязанностях и правилах<br>
Записавшись в библиотеку, вы обретаете право пользоваться ее фондом и услугами, но одновременно становитесь обязанными выполнять установленные в библиотеке правила.<br>
Исполнение читателем своих обязанностей и правил библиотеки позволяет не ущемлять права других читателей и обеспечивает всем равные возможности.
		</p>
	</div>
{% endblock  %}