	
{% extends 'LibSite/layout.html' %}

{% block title %}Инструкция по работе в электронном каталоге ИРБИС 64{% endblock  %}

{% block content %}
	<h1>Инструкция по работе в электронном каталоге ИРБИС 64</h1>
	<div class="texbox">
		<img src="documents/1.png" style="height:140px; width:170px; margin-left: 80px">
		<p><br>— Иконка электронного каталога ИРБИС.</p>
		<img src="documents/2.png" style="height: 440px; width:750px; margin-left: 80px">
		<p><br>1.Для входа в электронный каталог набираем:<br>
			Имя пользователя : student<br>
			Пароль: 1<br>
			И нажимаем кнопку «ОК»<br>
			2.В появившемся окне «Регистрация читателя» вводим<br>
			Идентификатор читателя<br></p>
		<img src="documents/3.png" style="height: 440px; width:750px; margin-left: 80px">
		<p>
				Идентификатор читателя — это номер читательского билета студента<br>
				и нажимаем кнопку «НАЧАТЬ РАБОТУ».<br>
				3.Выбираем нужную базу: н/р BOOK (книги)<br><br>
				Область словаря позволяет выбрать вид поиска документов, имеющихся в<br>
				библиотеке. Поиск можно осуществить по следующим элементам: ключевым словам, автору, заглавию и т.д.<br>
		</p>
		<img src="documents/4.png" style="height: 440px; width:750px; margin-left: 80px">
		<p>
			1. Выбираем базу данных «BOOK»<br>
			2. Выбираем ключевое поле, по которому будет произведен поиск<br>
			3. Вводим значение и нажимаем “Enter”<br>
			4. Значение переносится в область терминов запроса (их может быть несколько, просто
			вводим еще одно и нажимаем “Enter”)<br>
			5. Нажимаем «Выполнить»<br>
			6. Результаты запроса можно увидеть в нижней половине экрана<br>
			7. При нажатии на нужную нам запись, ее библиографическое описание можно будет
			увидеть в нижней правой части экрана<br><br>

			4.Заказ книги:
		</p>
		<img src="documents/5.png" style="height: 440px; width:750px; margin-left: 80px">
		<p>
			При нажатии на корзину нужно подтвердить свою регистрацию (ваш чит.билет)<br>
		</p>
		<img src="documents/6.png" style="height: 440px; width:750px; margin-left: 80px">
		<p>
			и нажимаем кнопку «ПРОДОЛЖИТЬ РАБОТУ».
		</p>
		<img src="documents/7.png" style="height: 440px; width:750px; margin-left: 80px">
		<p>
			Заказ в очереди и через некоторое время книгу можно получить
		</p>
	</div>
{% endblock  %}