{% extends 'LibSite/layout.html' %}

{% block title %}Интересные факты о библиотеках{% endblock  %}

{% block content %}
<h1>Интересные факты о библиотеках</h1>

<ul style="margin:50px">
  <li>В Германии, в Магдебурге, есть интереснейшая библиотека, здание для которой было выстроено из старых ящиков из-под пива.</li>
  <img src="https://ais.by/sites/ais.by/files/gallery/pics/30-05-10/1/Open-Air-Library_Anja-Schlamann_09.jpg" style="width:400px; height: 250px; margin-left:120px"><br><br>
  <li>В Сингапурской публичной библиотеке есть много-много отдельных читальных залов, чтобы посетители не слышали друг друга.</li>
  <img src="https://anons.uz/media/uploads/2020/10/26/publichnaya-biblioteka-bishan.jpg" style="width:400px; height: 250px; margin-left:120px"><br><br>
  <li>Библиотека с крайне необычным дизайном есть в итальянской Перудже — её построили в виде летающей тарелки.</li>
  <img src="https://i.mycdn.me/i?r=AzEPZsRbOZEKgBhR0XGMT1RkJKOrmKbkmDOQ4DUJp3_uU6aKTM5SRkZCeTgDn6uOyic" style="width:400px; height: 250px; margin-left:120px"><br><br>
  <li>Сейчас все книги на библиотечных полках ставятся корешками наружу, чтобы было видно название. Но раньше их ставили корешками внутрь.</li>
  <img src="https://avatars.mds.yandex.net/get-zen_doc/2404796/pub_5ec4a95aa16e2c16b877b67a_5ec4b513ff36563b4e5201a9/scale_1200" style="width:400px; height: 250px; margin-left:120px">
</ul>

{% endblock %}