{% extends 'LibSite/layout.html' %}

{%block title%}Рекомендации: пишем, оформляем, публикуем{%endblock%}

{% block content %}
	<h1>Рекомендации: пишем, оформляем, публикуем</h1>
	<h1>Библиографическое описание документов и библиографических ссылок</h1>
	<p>При написании статей, тезисов докладов, диссертаций и других научно-исследовательских работ необходимо соблюдать ГОСТы, общие требования и правила оформления работ, цитирования и составления библиографических списков.</p>
	<table class="table" style="margin: 50px; width: 800px;">
  <thead>
    <tr>
      <th scope="col">Номер</th>
      <th scope="col">Наименование</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="https://www.lib.tsu.ru/sites/default/files/pictures/65555.pdf">ГОСТ 7.32–2017</a></td>
      <td>Отчет о научно-исследовательской работе. Структура и правила оформления. – Взамен ГОСТ 7.32-2001 : введ. 2018-07-01 ; с изм. 2018-09-12. – М. : Стандартинформ, [2018]. – 28 с. – (Система стандартов по информации, библиотечному и издательскому делу).</td>
    </tr>
    <tr>
      <td><a href="http://www.lib.tsu.ru/win/metod/gost/gost7.9-95%20.pdf">ГОСТ 7.9-95</a></td>
      <td>Реферат и аннотация. – Взамен ГОСТ 7.9-77 ; введ. 97-07-01. – Минск : Изд-во стандартов, 1996. – 7 с. – (Система стандартов по информации, библиотечному и издательскому делу).</td>
    </tr>
    <tr>
      <td><a href="http://www.lib.tsu.ru/win/metod/gost/GOST_%202.105-95.pdf">ГОСТ 2.105-95</a></td>
      <td>Единая система конструкторской документации. Общие требования к текстовым документам. – Взамен ГОСТ 2.105-79, ГОСТ 2.906-71 ; введ. 96-07-01. – Минск : Изд-во стандартов, 1995. – 37 с.</td>
    </tr>
    <tr>
      <td><a href="http://www.tsu.ru/upload/medialibrary/c3a/sto-tgu-123_2019.pdf">СТО ТГУ 123-2019</a></td>
      <td>Диссертация и автореферат диссертации. Общие положения. Структура и правила оформления / [руков. Т. С. Краснова ; отв. испол. Нагаев А. Ю. ; испол.: Соколенко Е. Н., Иккерт О. П., Кичигина Е. Ю.]. - Томск : Томский государственный университет, 2019.</td>
    </tr>
    <tr>
      <td><a href="http://vital.lib.tsu.ru/vital/access/manager/Repository/vtls:000506706">ДП СМК НУ ТГУ 05.10.06.2010</a></td>
      <td>Процесс подготовки, разработки, написания и оформления выпускных квалификационных работ (ВКР) : уровни подготовки : бакалавр, магистр, специалист : по разным направлениям подготовки / Том. гос. ун-т, Науч. упр., Отдел стандартизации, метрологии и контроля качества НИОКР ; [руков. А. С. Ревушкин ; отв. исполнитель И. В. Ивонин]. - Томск : [б. и.], 2014.</td>
    </tr>
    <tr>
      <td><a href="http://www.lib.tsu.ru/win/produkzija/metodichka/metodich.html">Р ТГУ-НБ-001-2010</a></td>
      <td>Библиографическое описание документа : общие требования и правила составления : рекомендации. – Введ. 2010-11-01. – Томск, 2010. – 55 с.</td>
    </tr>
  </tbody>
</table>

<hr>

<h1>Библиографические менеджеры</h1>
<p>Библиографический менеджер - это программа, разработанная для хранения библиографических данных, полных текстов и оформления ссылок и списков литературы.

При выборе библиографического менеджера Вы можете установить стационарную программу себе на компьютер, работать онлайн, а также универсально онлайн+оффлайн. 

Универсальные библиографические менеджеры <strong>Mendeley, EndNote, Zotero</strong> подходят для использования как индивидуальными пользователями, так и научными коллективами.</p>
<a href="http://www.mendeley.com/" class="btn btn-success" target="_blank" style="margin-left: 50px">Посетить сайт Mendeley</button></a>
<a href="http://endnote.com/" class="btn btn-success" target="_blank" style="margin-left: 50px">Посетить сайт EndNote</button></a>
<a href="http://www.zotero.org/" class="btn btn-success" target="_blank" style="margin-left: 50px">Посетить сайт Zotero</button></a>
<br><br><br><br><br>
<a href="http://www.mendeley.com/" style="margin-left:50px">Mendeley  (Elsevier)</a>
<table class="table" style="margin: 50px; width: 800px;">
  <thead>
    <tr>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><p><strong>Доступ</strong></p></td>
      <td>Бесплатный универсальный библиографический менеджер и академическая социальная сеть. Кроме стандартного функционала библиографического менеджера Mendeley позволяет находить по спискам литературы коллег, которые цитируют те же источники, что и Вы. Для получения доступа к использованию программы необходимо создать учётную запись на сайте Mendeley. Базовый пакет Mendeley предоставляет 2 ГБ серверного пространства для хранения информации. В платной версии - увеличены квоты на хранение материалов и создание групп.</td>
    </tr>
    <tr>
      <td><p><strong>Преимущества</strong></p></td>
      <td>ОMendeley позволит вам:<ul>

<li>   Загружать статьи непосредственно с таких платформ, как Science Direct.</li>
<li>   Хранить документы в личной библиотеке, а также управлять и пользоваться ими в любое время как онлайн, так и оффлайн.</li>
<li>   Выделять фрагменты статей, комментировать их и делиться информацией с членами своей исследовательской группы.</li>
<li>   Создавать библиографические списки и ссылки для Вашей новой работы одним нажатием кнопки, выбирая соответствующий стиль.</li>
<li>   Лимит бесплатной книжной полки: 2 Гб.</li></ul></td>
    </tr>
    <tr>
      <td><p><strong>Дополнительные материалы</strong></p></td>
      <td><a href="http://www.elsevierscience.ru/files/pdf/Mendeley_Migration_Guide_Russian.pdf">Инструкция по переносу данных из других библиографических менеджеров в MendeleyAdobe PDF 413 Kb</a></td>
    </tr>
    
  </tbody>
</table><br><br><br>

<a href="http://endnote.com/" style="margin-left:50px">EndNote  (Платформа EndNote Online)</a>

<table class="table" style="margin: 50px; width: 800px;">
  <thead>
    <tr>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><p><strong>Доступ</strong></p></td>
      <td>Система управления библиографической информацией, применяемая для управления ссылками и библиографией. Бесплатный пакет предоставляется в онлайн версии программы – EndNote Online. Для создания доступа в библиотеку EndNote выполните вход (воспользуйтесь учетной записью Web of Science) или зарегистрируйтесь</td>
    </tr>
    <tr>
      <td><p><strong>Преимущества</strong></p></td>
      <td>Создание библиотеки EndNote позволит вам:<ul>

<li>   Добавлять ссылки в свою библиотеку EndNoteнепосредственно из Web of Science.</li>
<li>   Размещать ссылки в папках для доступа и использования их в любое время.</li>
<li>   Создавать форматированный список ссылок с использованием разных стилей публикаций.</li>
<li>   Получать доступ к библиотеке EndNote с любого компьютера в вашей организации.</li></ul></td>
    </tr>
    <tr>
      <td><p><strong>Дополнительные материалы</strong></p></td>
      <td><a href="http://wokinfo.com/wok/media/mtrp/enw_qrc_ru.pdf">Руководство пользователя на русском языке</a></td>
    </tr>
    
  </tbody>
</table>


<a href="https://www.zotero.org/" style="margin-left:50px">Zotero</a>

<table class="table" style="margin: 50px; width: 800px;">
  <thead>
    <tr>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><p><strong>Доступ</strong></p></td>
      <td>Библиографический менеджер, который подходит как для индивидуальной, так и коллективной работы, для облачного хранения полных текстов статей в Вашей личной или коллективной библиотеке. Zotero Zotero является персональным приложением для реферирования, выполненным в виде плагина к Firefox или Chrome.<br>Для начала работы с программой необходимо создать учетную запись на сайте</td>
    </tr>
    <tr>
      <td><p><strong>Преимущества</strong></p></td>
      <td>Zotero позволит вам:<ul>

<li>   Сохранять библиографическую информацию не только в PDF формате.</li>
<li>   Создавать библиографию и вставки ссылок на работы из сохраненных данных.</li>
<li>   Синхронизироваться с сервером для хранения вашей базы данных.</li>
<li>   Индексировать базы данных.</li>
<li>   Создавать ваш профиль online.</li>
<li>   Пользоваться русскоязычным интерфейсом.</li>
<li>   Не требует для работы постоянного подключения к интернету.</li>
<li>   Лимит бесплатной книжной полки: 300 Мб.</li>

</ul></td>
    </tr>
    <tr>
      <td><p><strong>Дополнительные материалы</strong></p></td>
      <td><a href="https://www.zotero.org/support/_media/quick_start_russian.pdf">Руководство пользователя на русском языке</a><br><a href="http://zotfile.com/">Программа для взаимодействия Zotero и Word - Zotfile</a>
      <br><a href="https://www.zotero.org/support/ru/start">Обучающие материалы на официальном сайте Zotero</a></td>
    </tr>
    
  </tbody>
</table>

<hr>


<h1>Академическое письмо</h1>
	<p>Академическое письмо - это языковая компетенция, владение которой позволяет исследователю читать, понимать и писать научные тексты.<br><br>

Рубрика содержит рекомендации по подготовке, написанию и публикации научных текстов, докладов и публикаций.</p>
<strong><p>Подготовка и написание докладов, презентаций и научных текстов</p></strong>
<div style="margin:50px">
<a href="http://chamo.lib.tsu.ru/lib/item?id=chamo:188260&theme=system">Бут У. К. Исследование : шестнадцать уроков для начинающих авторов</a>/ У. К. Бут, Г. Дж. Коломб, Дж. М. Уильямс ; пер. с англ. А. Станиславского. - М. : Флинта : Наука, 2004. - 356, [4] с.<br><br>
<a href="https://www.lib.tsu.ru/sites/default/files/-.-.pdf">Короткина И. Академическое письмо: учебно - методическое пособие для руководителей школ и специалистов образования</a><br><br>
<a href="http://chamo.lib.tsu.ru/lib/item?id=chamo:440013&theme=system">От конспекта к диссертации : учебное пособие по развитию навыков письменной речи</a> [для студентов, аспирантов, преподавателей] /Н. И. Колесникова.<br><br>
<a href="http://chamo.lib.tsu.ru/lib/item?id=chamo:144821&theme=system">Радаев В. В. Как организовать и представить исследовательский проект : 75 простых правил</a> / В. В. Радаев. - М. : ГУ-ВШЭ : ИНФРА-М, 2001. - 201,[1] с.: ил.<br><br>
<a href="http://chamo.lib.tsu.ru/lib/item?id=chamo:199854&theme=system">Эко У. Как написать дипломную работу. Гуманитарные науки</a> [учебно-методическое пособие] / Эко Умберто ; пер. с ит. Елены Костюкович. - М. : Университет, 2004. - 238, [2] с.: табл.<br><br>
</div>
<strong><p>Подготовка публикаций в научных изданиях</p></strong>
<div style="margin:50px">
<a href="https://www.lib.tsu.ru/win/dokument/Bibliogr_prezent_s_seminarov/Analitika_v_planirovanii.pptx">Аналитика в планировании успешного научного исследования</a> презентация Г. Якшонок<br>
<a href="http://www.lib.tpu.ru/siteimages/3b80ebc7-9cd9-40df-8841-007148e05b9d/fulltext.pdf">Добросовестные и недобросовестные издатели: как отличать, оценивать и выбирать достойных</a> презентация О.В. Кирилловой.<br>
<a href="https://www.lib.tsu.ru/win/dokument/Bibliogr_prezent_s_seminarov/Izdat%20resheniya%20Oxford%20University%20Press.pptx">Издательские решения Oxford University Press для исследователей и библиотекарей </a> презентация Марчина Дембовского.<br>
<a href="https://www.lib.tsu.ru/win/dokument//Bibliogr_prezent_s_seminarov/Inform_res_Elsevier.pptx">Информационные ресурсы Elsevier для подготовки конкурентноспособных научных публикаций : </a> презентация А.Локтева<br>
<a href="https://www.lib.tsu.ru/win/dokument/Bibliogr_prezent_s_seminarov/Ispolzovanie%20sovr%20naukomet%20pokazateley.pptx">Использование современных наукометрических показателей  </a>: презентация П. Касьянова.<br>
<a href="https://www.lib.tsu.ru/win/dokument/Bibliogr_prezent_s_seminarov/Dembowski_OUP_How_to_Get_Published-Tomsk.ppt">Как опубликовать свою статью в научном журнале </a>: презентация М. Дембовского Семинар 18 марта 2014 года.<br>
<a href="http://journals.tsu.ru/uploads/tsu/Tomsk_podgotovka_statei.pdf">Подготовка публикаций по требованиям ведущих научных журналов, индексируемых глобальными базами данных цитирования: </a> презентация О. В. Кирилловой Семинар 31.03.2014 (доступно с компьютеров сети ТГУ).<br>
<a href="https://www.lib.tsu.ru/win/dokument/Bibliogr_prezent_s_seminarov/How%20to%20Publish_Russia%20Workshop_RU.ppt">Правила подготовки публикаций в изданиях с высоким рейтингом цитируемости:</a>Lucy Gilbert, Editorial Production Manager Royal Society of Chemistry: презентация, День Королевского химического общества Великобритании в ТГУ, Научная библиотека ТГУ, 20 апреля 2015 года.<br>
<a href="http://www.lib.tpu.ru/siteimages/95fa1118-a90a-4470-ae06-1736e76c632b/fulltext.pdf">Рекомендации EASE (Европейской ассоциации научных редакторов) для авторов и переводчиков научных статей, которые должны быть опубликованы на английском языке</a><br>
<a href="http://academics.hse.ru/news/18526360.html">Как публиковаться в зарубежных академических журналах?</a>Раймонд Страйк (видеозапись).<br>
<a href="https://www.lib.tsu.ru/win/dokument/Bibliogr_prezent_s_seminarov/Dembowski_How%20to%20get%20published%20TSU.pptx">Oxford University Press – publisher supporting libraries and research communities:</a>Марчин Дембовский, региональный менеджер издательства Оксфордского университета в России и странах СНГ, презентация с семинара по академическому письму от издательства Оксфордского университета (Oxford University Press), Научная библиотека ТГУ, 22 октября 2015 года.<br>
</div> 
<h1>Академическое письмо на английском языке / Academic Writing in English</h1>
<p>Совместно с Джин Коллантай, старшим преподавателем кафедры социальной работы ФсФ ТГУ, преподавателем курсов на английском языке Academic Writing for Publication и Academic English, мы составили список ресурсов для подготовки, написания и публикации научных текстов и презентаций на английском языке.
На книги, имеющиеся в фонде Научной библиотеки, дана ссылка в электронный каталог с указанием их местоположения.</p>
<p>Все ресурсы доступны в сети Научной библиотеки и ТГУ.</p>
<a href="http://www.lib.tsu.ru/ru/node/1386" style="margin-left:50px;">Academic Writing for Publication/Academic English</a><br><br><br><br>

{% endblock %}