{% extends 'LibSite/layout.html' %}

{% block title %}Новые поступления{% endblock  %}

{% block content %}

  <br><h1>Новые поступления</h1>
<div class="accordion" id="accordionExample">

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThirteen">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
        Поступления за 2021 год
      </button>
    </h2>
    <div id="collapseThirteen" class="accordion-collapse collapse show" aria-labelledby="headingThirteen" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Новое поступление <strong>октябрь</strong> 2021 года<a href=" documents/Бюллетень-1-новых-поступлений_1.docx" style="margin-left: 10px;">Скачать</a><br>
        Новое поступление <strong>ноябрь</strong> 2021 года<a href="documents/2-Бюллетень-за-ноябрь.docx" style="margin-left: 10px;">Скачать</a><br>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwelve">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
        Поступления за 2020 год
      </button>
    </h2>
    <div id="collapseTwelve" class="accordion-collapse collapse" aria-labelledby="headingTwelve" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Новое поступление книг за <strong>январь</strong> 2020 года<a href="documents/Бюллетень_новых_поступлений_1_литературы_за_январь_2020_года.docx" style="margin-left: 10px;">Скачать</a><br>
        Новое поступление книг за <strong>февраль</strong> 2020 года<a href="documents/Бюлл.-февраль.docx" style="margin-left: 10px;">Скачать</a><br>
        Новое поступление книг за <strong>март</strong> 2020 года<a href="documents/Бюллетень3за-март2020.docx" style="margin-left: 10px;">Скачать</a><br>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingEleven">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
        Поступления за 2019 год
      </button>
    </h2>
    <div id="collapseEleven" class="accordion-collapse collapse" aria-labelledby="headingEleven" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Новое поступление книг за <strong>январь</strong> 2019 года<a href="documents/Бюллетень_1_новых_поступлений_литературы_2019.docx" style="margin-left: 10px;">Скачать</a><br>
        Новое поступление книг за <strong>февраль-март</strong> 2019 года<a href="documents/Бюллетень__2_новых_поступлений_литературы_за_февраль-март_2019г.docx" style="margin-left: 10px;">Скачать</a><br>
        Новое поступление книг за <strong>апрель</strong> 2019 года<a href="documents/Бюллетень_3_новых_поступлений__литературы_за_апрель_2019г..docx" style="margin-left: 10px;">Скачать</a><br>
        Новое поступление книг за <strong>май</strong> 2019 года<a href="documents/Бюллетень_новых_поступлений_литературы_за_май_2019_г._4.docx" style="margin-left: 10px;">Скачать</a><br>
        Новое поступление книг за <strong>август-сентябрь</strong> 2019 года<a href="documents/Бюллетень_5_новых_поступлений_литературы_за_август-сентябрь__2019_года..docx" style="margin-left: 10px;">Скачать</a><br>
        Новое поступление книг за <strong>сентябрь</strong> 2019 года<a href="documents/Бюллетень_новых_поступлений_литературы_за_сентябрь_2019_года._6__.docx" style="margin-left: 10px;">Скачать</a><br>
        Новое поступление книг за <strong>октябрь-ноябрь</strong> 2019 года<a href="documents/Бюллетень__6_новых_поступлений_литературы_за_октябрь_-_ноябрь_2019_г._.docx" style="margin-left: 10px;">Скачать</a><br>
        Новое поступление книг за <strong>декабрь</strong> 2019 года<a href="documents/Бюллетень_7_новых_поступлений_литературы_за_декабрь_2019_г.docx" style="margin-left: 10px;">Скачать</a><br>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTen">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
        Поступления за 2018 год
      </button>
    </h2>
    <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Новое поступление книг за <strong>май-июнь</strong> 2018 года<a href="documents/Бюллетень_новых_поступлений_1_литературы_за_май-июнь_2018г_NLBg5Zq.docx" style="margin-left: 10px;">Скачать</a><br>
        Новое поступление книг за <strong>сентябрь</strong> 2018 года<a href="documents/Бюллетень_новых_поступлений_2_литературы_за_сентябрь_2018г._l80Z2Du.docx" style="margin-left: 10px;">Скачать</a><br>
        Новое поступление книг за <strong>ноябрь</strong> 2018 года<a href="documents/Бюллетень_новых_поступлений_3_литературы_за_ноябрь_2018г..docx" style="margin-left: 10px;">Скачать</a><br>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingNine">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
        Поступления за 2017 год
      </button>
    </h2>
    <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Новое поступление книг за <strong>январь-март</strong> 2017 года<a href="documents/Бюллетень_новых_поступлений_1_литературы_за_январь-_март__2017_г._Tr3GMqh.docx" style="margin-left: 10px;">Скачать</a><br>
        Новое поступление книг за <strong>апрель</strong> 2017 года<a href="documents/Бюллетень_новых_поступлений_2_литературы_за_апрель_2017г_7rBbhgV.docx" style="margin-left: 10px;">Скачать</a><br>
        Новое поступление книг за<strong>май-август</strong> 2017 года<a href="documents/Бюллетень_новых_поступлений_3_литературы_за_май-август_2017г_Mm6MoK6.docx" style="margin-left: 10px;">Скачать</a><br>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingEight">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
        Поступления за 2016 год
      </button>
    </h2>
    <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Новое поступление книг за <strong>январь</strong> 2016 года<a href="documents/Бюллетень_новых__поступлений_1_литературы_за_январь__2016_г_kwFy8Or.docx" style="margin-left: 10px;">Скачать</a><br>
        Новое поступление книг за <strong>сентябрь</strong> 2016 года<a href="documents/Бюллетень_новых_поступлений_2_литературы_за_сентябрь_2016_г_FC4u2ps.docx" style="margin-left: 10px;">Скачать</a><br>
        Новое поступление книг за <strong>октябрь</strong> 2016 года<a href="documents/Бюллетень_новых_поступлений_3_литературы_за_октябрь_2016г_G6JQGZd.docx" style="margin-left: 10px;">Скачать</a><br>
        Новое поступление книг за <strong>ноябрь</strong> 2016 года<a href="documents/Бюллетень_новых_поступлений_4_литературы_за_ноябрь_2016_г_V8Q3UHz.docx" style="margin-left: 10px;">Скачать</a><br>
        Новое поступление книг за <strong>декабрь</strong> 2016 года<a href="documents/Бюллетень_новых_поступлений_5_литературы_за_декабрь_2016г_ro796lN.docx" style="margin-left: 10px;">Скачать</a><br>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingSeven">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
        Поступления периодики за 2015 год
      </button>
    </h2>
    <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Новое поступление периодики за <strong>I полугодие</strong> 2015 года<a href="" style="margin-left: 10px;">Скачать</a><br>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingSix">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
        Поступления за 2015 год
      </button>
    </h2>
    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Новое поступление книг за <strong>январь-апрель</strong> 2015 года<a href="" style="margin-left: 10px;">Скачать</a><br>
        Новое поступление за <strong>май</strong> 2015 года<a href="" style="margin-left: 10px;">Скачать</a><br>
        Новое поступление за <strong>июнь-август</strong> 2015 года<a href="" style="margin-left: 10px;">Скачать</a><br>
        Новое поступление за <strong>сентябрь</strong> 2015 года<a href="" style="margin-left: 10px;">Скачать</a><br>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFive">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
        Поступления периодика за 2014 год
      </button>
    </h2>
    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Новое поступление периодики с <strong>января</strong> 2014 года<a href="" style="margin-left: 10px;">Скачать</a><br>
        Новое поступление периодики <strong>за II полугодие</strong> 2014 года<a href="" style="margin-left: 10px;">Скачать</a><br>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        Поступления за 2014 год
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Новое поступление <strong>январь-март</strong> 2014 года<a href="" style="margin-left: 10px;">Скачать</a><br>
        Новое поступление <strong>сентябрь-октябрь</strong> 2014 года<a href="" style="margin-left: 10px;">Скачать</a><br>
        Новое поступление <strong>ноябрь</strong>I часть 2014 года<a href="" style="margin-left: 10px;">Скачать</a><br>
        Новое поступление <strong>ноябрь</strong>II часть 2014 года<a href="" style="margin-left: 10px;">Скачать</a><br>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        Поступления за 2014 год
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Новое поступление <strong>январь-март</strong> 2014 года<a href="" style="margin-left: 10px;">Скачать</a><br>
        Новое поступление <strong>сентябрь-октябрь</strong> 2014 года<a href="" style="margin-left: 10px;">Скачать</a><br>
        Новое поступление <strong>ноябрь</strong>I часть 2014 года<a href="" style="margin-left: 10px;">Скачать</a><br>
        Новое поступление <strong>ноябрь</strong>II часть 2014 года<a href="" style="margin-left: 10px;">Скачать</a><br>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Поступления за 2013 год
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Новое поступление <strong>январь-март</strong> 2013 года<a href="" style="margin-left: 10px;">Скачать</a><br>
        Новое поступление <strong>август-сентябрь</strong> 2013 года<a href="" style="margin-left: 10px;">Скачать</a><br>
        Новое поступление <strong>ноябрь-декабрь</strong> 2013 года<a href="" style="margin-left: 10px;">Скачать</a><br>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Поступления за 2012 год
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Новое поступление <strong>январь-февраль</strong> 2012 года<a href="" style="margin-left: 10px;">Скачать</a><br>
        Новое поступление <strong>апрель-май</strong> 2012 года<a href="" style="margin-left: 10px;">Скачать</a><br>
        Новое поступление <strong>май-июнь</strong> 2012 года<a href="" style="margin-left: 10px;">Скачать</a><br>
        Новое поступление <strong>сентябрь-октябрь</strong> 2012 года<a href="" style="margin-left: 10px;">Скачать</a><br>
        Новое поступление <strong>ноябрь-декабрь</strong> 2012 года<a href="" style="margin-left: 10px;">Скачать</a><br>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Поступления за 2011 год
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Новое поступление <strong>сентябрь-октябрь</strong> 2011 года<a href="" style="margin-left: 10px;">Скачать</a><br>
        Новое поступление <strong>октябрь-ноябрь</strong> 2011 года<a href="" style="margin-left: 10px;">Скачать</a><br>
        Новое поступление <strong>ноябрь-декабрь</strong> 2011 года<a href="" style="margin-left: 10px;">Скачать</a><br>
      </div>
    </div>
  </div>  

</div>
{% endblock  %}