{% extends 'LibSite/layout.html' %}

{% block title %}Наши партнеры{% endblock  %}

{% block content %}
<h1>Наши партнеры</h1>

<p><strong>Ассоциация региональных библиотечных консорциумов</strong>, объединяющая российские библиотеки и информационные центры</p>
<p><strong>Издательство «Лань»</strong> — петербургская компания, специализирующаяся на    выпуске учебной литературы для вузов</p>
<p><strong>Институт Развития Молодежи</strong> является одной из лидирующих организаций в Кыргызстане по работе с молодежью и содействию развития молодежной политики. Приоритетными направлениями деятельности Института являются расширение участия молодых людей в процессах принятия решений, повышение потенциала молодежи и содействие в удовлетворении нужд и потребностей молодых кыргызстанцев в сотрудничестве с государственными и муниципальными органами, международными и национальными организациями.</p>
<p><strong>Министерство образования и науки Кыргызской Республики</strong> (далее Министерство) является центральным органом исполнительной власти, проводящим государственную политику и осуществляющим управление в области образования и науки.</p>
<p><strong> Фонд «Сорос-Кыргызстан» (ФСК) </strong>— международный неправительственный частный фонд – стремится создать в Кыргызской Республике условия для построения открытого общества, поддерживая развитие общественных институтов и инициативы во всех сферах общественной жизни</p>
<p><strong>ООО «Sky Mobile» </strong>(торговая марка Beeline) является ведущим сотовым оператором Кыргызстана.На сегодняшний день ООО «Sky Mobile» (торговая марка Beeline) предоставляет услуги сотовой связи в стандартах GSM-900/1800 и WCDMA/UMTS 2100 (3G) и LTE 800 (4G). Beeline предлагает своим абонентам не только выгодные и удобные продукты и услуги, качественную связь и отличный сервис, но и самые инновационные технологии.</p>
{% endblock %}