{% extends 'LibSite/layout.html' %}

{% block title %}Читальные залы{% endblock  %}

{% block content %}
<h1>Читальные залы</h1>

<strong><p>Класс командной работы. Ауд. 1/268а</p></strong>
<p>Посетителям предоставляется возможность работать со своими проектами, готовить презентации, обсуждать дипломные и курсовые работы, проводить семинары, тренинги. Класс оборудован необходимой проекционной техникой.</p>
<img src="documents/20180514_104800-360x270.jpg" alt="reading-room 1/268" class="img-thumbnail" style="margin-left:50px; width: 370px; height: 250px;">
<img src="documents/20180514_104748-300x225.jpg" alt="reading-room 1/268" class="img-thumbnail" style="margin-left:50px; width: 370px; height: 250px;">

<strong><p>«Co-working» центр от Beelinе. Ауд. 1/264</p></strong>
<p>Это общественный рабочий кабинет, «тихая» и коммуникационная зона, оснащенная необходимым технологическим оборудованием, удобной мебелью и средствами коммуникации, где студенты  используют общее пространство для своей деятельности.</p>
<img src="documents/20190128_135845-360x203.jpg" alt="reading-room 1/268" class="img-thumbnail" style="margin-left:50px; width: 370px; height: 250px;">
<img src="documents/20190129_141225-360x203.jpg" alt="reading-room 1/268" class="img-thumbnail" style="margin-left:0px; width: 430px; height: 250px;">

<strong><p>Компьютерные залы библиотеки. Ауд.1/262 и 1/268</p></strong>
<p>Предназначены для самостоятельной работы студентов, на каждом рабочем месте установлен электронный каталог, организован доступ к электронной библиотеке учебников, AVN, свободный доступ к Интернет.</p>
<img src="documents/20190128_135339-360x203.jpg" alt="reading-room 1/268" class="img-thumbnail" style="margin-left:50px; width: 370px; height: 250px;">
<img src="documents/20190128_135611-360x203.jpg" alt="reading-room 1/268" class="img-thumbnail" style="margin-left:50px; width: 370px; height: 250px;">

<strong><p>Абонемент. Ауд. 1/267</p></strong>
<img src="documents/22-360x270.jpg" alt="reading-room 1/268" class="img-thumbnail" style="margin-left:50px; width: 370px; height: 250px;">
<img src="documents/4444-360x270.jpg" alt="reading-room 1/268" class="img-thumbnail" style="margin-left:50px; width: 370px; height: 250px;">

<strong><p>Читальный зал гуманитарных и экономических наук. Ауд. 1/261</p></strong>
<p>На базе читального зала гуманитарных и экономических наук открыт мультимедийный кабинет Samsung Smart School    от Samsung Electronics с мультимедийным интерактивным экраном, благодаря чему в зале можно проводить занятия со студентами.</p>
<img src="documents/20190129_141340-360x203.jpg" alt="reading-room 1/268" class="img-thumbnail" style="margin-left:50px; width: 370px; height: 250px;">
<img src="documents/20190128_140843-360x203.jpg" alt="reading-room 1/268" class="img-thumbnail" style="margin-left:50px; width: 370px; height: 250px;">

<strong><p>Читальный зал естественнонаучной и технической литературы. Ауд. 1/362</p></strong>
<img src="documents/20190129_141453-360x203.jpg" alt="reading-room 1/268" class="img-thumbnail" style="margin-left:50px; width: 370px; height: 250px;">
<img src="documents/20190129_141453-360x203_o2vogLR.jpg" alt="reading-room 1/268" class="img-thumbnail" style="margin-left:50px; width: 370px; height: 250px;"><br><br><br>
{% endblock %}