{% extends 'LibSite/layout.html' %}

{% block title %}Наукометрия: сравниваем и оцениваем{% endblock  %}

{% block content %}
	<h1>Наукометрия: сравниваем и оцениваем</h1>
	<h1>Базы данных цитирования</h1>

	<a href="http://www.elsevierscience.ru/files/pdf/Scopus_Quick_Reference_Guide_Russian_v2.pdf" class="btn btn-success" target="_blank" style="margin-left: 50px" target="_blank">Scopus </button></a>

	<p>База данных <strong>Scopus</strong> корпорациии Elsevier - крупнейшая в мире универсальная реферативная база данных с возможностями отслеживания научной цитируемости публикаций, включающая более 60 миллионов записей, в том числе более 100 000 книг, 7 миллионов материалов конференций, около 27 миллионов патентов.</p>

	<a href="http://www.elsevierscience.ru/files/pdf/Scopus_Quick_Reference_Guide_Russian_v2.pdf" target="_blank" style="margin-left:50px">Алгоритм поиска в Scopus (краткое руководство пользователя)</a>
	<br>
	<a href="https://www.elsevierscience.ru/files/Scopus_rus_journal_title_list_jul2015.xls" style="margin-left:50px" target="_blank">Российские журналы в базе данных Scopus</a><br>
	<a href="https://www.elsevierscience.ru/products/scopus" style="margin-left:50px" target="_blank">Подробнее о ресурсе на русскоязычном сайте компании Elsevier</a><br><br>
	<hr><br>

	<a href="http://apps.webofknowledge.com/WOS_GeneralSearch_input.do?product=WOS&search_mode=GeneralSearch&SID=Q2Hsf7nJ2cqs1SJFo31&preferencesSaved=" class="btn btn-success" target="_blank" style="margin-left: 50px" target="_blank">Web of Science </button></a>

	<p>Web of Science компании Clarivate Analytics - информационно-аналитическая платформа, охватывающая свыше 50 миллионов записей в 12 500 журналах по всему миру и 120 000 материалов конференций в области естественных, общественных, гуманитарных наук и искусства. На платформе Web of Science размещены несколько баз данных: Web of Science Core Collection, Russian Science Citation Index (индекс цитирования российской науки), а также аналитические инструменты, помогающие оценивать информацию с точки зрения различных критериев (Incites, Journal Citation Reports, Essential Citation Reports).</p>
	<a href="http://wokinfo.com/media/mtrp/wok5_wos_qrc_ru.pdf?utm_source=false&utm_medium=false&utm_campaign=false" style="margin-left:50px" target="_blank">Алгоритм поиска на платформе Web of Science</a><br>
	<a href="https://www.lib.tsu.ru/sites/default/files/pictures/publist_sciex.pdf" style="margin-left:50px" target="_blank">Список журналов по физико-математическим и естественным наукам</a><br><br>
	<hr><br>

	<a href="http://elibrary.ru/projects/citation/cit_index.asp" class="btn btn-success" target="_blank" style="margin-left: 50px" target="_blank">РИНЦ </button></a>

	<p>Российский индекс научного цитирования <strong>(РИНЦ)</strong> на платформе Научной электронной библиотеки - это национальная информационно-аналитическая система, аккумулирующая более 7 миллионов публикаций российских авторов, а также информацию о цитировании этих публикаций из более 4500 российских журналов. Для получения доступа к полным текстам публикаций, размещенных на платформе eLIBRARY.RU необходима регистрация. Зарегистрированные пользователи получают возможность создавать персональные подборки журналов, статей, сохранять историю поисковых запросов, настраивать панель навигатора и так далее.</p>

	<a href="http://elibrary.ru/author_info.asp?isnew=1&rpage=http%3A%2F%2Felibrary%2Eru%2Fproject_risc%2Easp%3F" style="margin-left:50px" target="_blank">Регистрация в Научной электронной библиотеке (eLIBRARY)</a><br>
	<a href="http://elibrary.ru/project_author_tools.asp" style="margin-left:50px" target="_blank">Инструкция для авторов по работе в cистеме SCIENCE INDEX</a><br>
	<a href="http://elibrary.ru/projects/books/book_author_info.asp" style="margin-left:50px" target="_blank">Как авторы могут самостоятельно разместить свои публикации в Научной электронной библиотеке</a><br><hr>

	<h1>Основные библиометрические термины: индекс Хирша, импакт-фактор</h1>
	<p><strong>h-индекс, или индекс Хирша</strong> — наукометрический показатель, предложенный в 2005 году Хорхе Хиршем для оценки научной продуктивности. Индекс вычисляется на основе распределения цитирований работ по формуле:

Учёный (научный коллектив) имеет индекс h, если h из его Np статей цитируются как минимум h раз каждая, в то время как оставшиеся (Np — h) статей цитируются не более чем h раз каждая.</p>

	<a href="http://upload.wikimedia.org/wikipedia/commons/thumb/0/04/H-index-ru.svg/300px-H-index-ru.svg.png" class="btn btn-success" target="_blank" style="margin-left: 50px" target="_blank">Посмотреть h-индекс, или индекс Хирша</button></a><br>
	

	<p><strong>Импакт-фактор журнала</strong> – это среднее цитирование одной статьи. Вычисляется по формуле:

отношение количества цитирований в расчетном году статей за два предыдущих года к общему количеству этих статей.</p>
	<a href="http://image.slidesharecdn.com/march2014slideshare-140330041759-phpapp01/95/thomson-reuters-22-638.jpg?cb=1396182617" class="btn btn-success" target="_blank" style="margin-left: 50px" target="_blank">Посмотреть Импакт-фактор журнала</button></a><br><br><hr>

	<h1>Рейтинги и списки журналов</h1>

	<p><strong>SJR (SCImago Journal Ranking).</strong> Разработанный университетом Гранады рейтинг журналов, в котором учитываются не только общее количество цитирований, но и взвешенные показатели цитирований по годам и качественные показатели, такие как авторитетность ссылок – вес ссылки в журнале Nature на статью в журнале «А» будет отличаться от веса ссылки на ту же статью в малоизвестном российском журнале, на который ссылок в Scopus совсем или почти нет. </p>
	<a href="http://image.slidesharecdn.com/march2014slideshare-140330041759-phpapp01/95/thomson-reuters-22-638.jpg?cb=1396182617" class="btn btn-success" target="_blank" style="margin-left: 50px" target="_blank">Перейти в SCImago Journal Ranking</button></a><br><br>
	<p><strong>SNIP (Source Normalized Impact per Paper).</strong> Показатель SNIP разработан Центром CWTS (Centre for Science and Technology Studies). Отражает влияние контекстной цитируемости журнала, что позволяет непосредственно сравнивать журналы различной тематики, принимая во внимание частоту, с которой авторы цитируют другие источники, скорость развития влияния цитаты и степень охвата литературы данного направления базой данных.</p>
	<a href="https://journalinsights.elsevier.com/journals/0969-806X/snip" class="btn btn-success" target="_blank" style="margin-left: 50px" target="_blank">Перейти в Source Normalized Impact per Paper</button></a><br><br>
	<p><strong>JCR (Journal Citation Reports)</strong> (доступ приостановлен) - ежегодные отчеты по цитированию - предоставляют полную информацию о журналах, индексируемых в базе Web of Science Core Collection, возможность их сравнения и поиска по заданным параметрам (импакт-фактору, тематике, названию).</p>
	<a href="https://jcr.clarivate.com/" class="btn btn-success" target="_blank" style="margin-left: 50px" target="_blank">Перейти в Journal Citation Reports</button></a><br><br>
	<a href="http://academy.rasep.ru/listing" style="margin-left:50px">Списки журналов в базах цитирования Web of Science и Scopus</a><br>
	<a href="https://www.lib.tsu.ru/sites/default/files/pictures/kopiya_spisok_aktivnykh_rossiyskikh_zhurnalov_v_scopus_na_01_03_2021.xlsx" style="margin-left:50px;" target="_blank">Список российских журналов в Scopus</a><br><br><br>

{% endblock  %}