{% extends 'LibSite/layout.html' %}

{% block title %}Ресурсы: ищем и читаем{% endblock  %}

{% block content %}
	<h1>Ресурсы: ищем и читаем</h1>
	<h1>Персональные идентификаторы ученых</h1>

	<p>Сервис <strong>ResearcherID</strong> компании Thomson Reuters. Каждому автору присвоен уникальный идентификационный номер, который в дальнейшем <br>позволяет легко находить опубликованные работы конкретного автора, в частности – в базе данных Web of Science.</p>
	<a href="http://www.researcherid.com/?SID=Q1xtKfUYNjmQG2ITXms&returnCode=ROUTER.Success&SrcApp=CR&Init=Yes#rid-for-researchers" class="btn btn-success" target="_blank" style="margin-left: 50px" target="_blank">Перейти в ResearcherID </button></a>

	<p><strong>Open Researcher and Contributor ID</strong> компании ORCID. Реестр уникальных идентификаторов ученых, которые используются для подтверждения авторства научных работ в SCOPUS и Web of Science.</p>
	<a href="https://www.lib.tsu.ru/sites/default/files/instruktsia_po_registratsii_v_orcid_1.pdf" style="margin: 50px" target="_blank">Инструкция по регистрации в ORCID.</a>
	<br><br><br>
	<a href="http://orcid.org/" class="btn btn-success" target="_blank" style="margin-left: 50px; margin-bottom: 50px;">Перейти в ORCID</button></a>
	<br>
	<h1>Научные социальные сети</h1>

	<a href="http://www.researchgate.net/" style="margin-left:50px" target="_blank">ResearchGate</a> - Социальная сеть для ученых всего мира во всех научных областях.<br>
	<a href="https://www.mendeley.com/" style="margin-left:50px" target="_blank">Mendeley Web</a> - 	
Библиографический менеджер и социальная сеть для общения ученых всего мира.<br>
	<a href="https://www.academia.edu/" style="margin-left:50px" target="_blank">Academia.edu</a> - Крупнейшая социальная сеть для коммуникации ученых по всему миру.<br>
	<a href="http://russian-scientists.ru/" style="margin-left:50px" target="_blank">Учёные России</a> - Социальная сеть, объединяющая ученых России.<br>
	<a href="https://socionet.ru/" style="margin-left:50px" target="_blank">Socionet</a> - Информационное научно - образовательное пространство в области социально-экономических наук.<br>
	<br><br><br>
{% endblock  %}