{% extends 'LibSite/layout.html' %}

{% block title %}Услуги{% endblock  %}

{% block content %}
	<h1>Услуги</h1>
	<div class="texbox">
		<p>
			<strong>К Вашим услугам:</strong><br><br>	
— Выдача литературы на дом;<br>
— Пользование литературой и периодическими изданиями в читальных залах;<br>
— Справочно-библиографическое и информационное обслуживание: предоставление полной информации о составе  — библиотечного фонда;<br>
— Свободный доступ к информационным ресурсам Интернет (только в учебных целях);<br>
— Выставки новых поступлений, тематические подборки литературы
— Определение индекса УДК к  научным работам профессорско-преподавательского состава университета;<br>
свободный доступ к каталогам , в том числе к электронному каталогу и автоматизированным базам данных;<br>
— Межбиблиотечный абонемент (МБА)<br>
— Электронная доставка документов (ЭДД)<br>
— Доступ к электронной библиотеке учебников;<br>
		</p>
	</div>
{% endblock  %}