{% extends 'LibSite/layout.html' %}

{% block title %}Отдел обслуживания{% endblock  %}

{% block content %}
<h1>Отдел обслуживания</h1>

<p><strong>Заведующая отделом:</strong> Мырзабекова Гулазат Болотбековна<br>
<strong>E-mail:</strong> myrzabekovagulazat@gmail.com<br>
<strong>Расположение:</strong> 1/267 <br>
<br>
<strong>Часы работы:</strong> понедельник-пятница — 8:00–16:45<br>
суббота, воскресенье —выходной<br>
последний четверг месяца — санитарный день<br><br>

Отдел обслуживания осуществляет  информационное обеспечение учебного процесса, оперативное обслуживание в соответствии с «Правилами пользования НТБ КГТУ» студентов  всех  курсов и форм  обучения, преподавателей и сотрудников университета.</p>

<p><strong>В структуру отдела обслуживания входят :  
<br><br>
— Абонемент выдачи литературы с сектором книгохранения;</strong>
<br><br>
Абонемент является основным подразделением отдела обслуживания.
<br><br>
Фонд абонемента (более 500 000 экз.) содержит учебники, учебные пособия по дисциплинам, изучаемым в университете, методические пособия, словари.<br><br>

Издания выдаются на дом (на семестр, на учебный год) пользователям, которые обучаются либо работают в КГТУ им.И.Раззакова и имеют постоянный читательский билет.<br><br>

<strong>— Межбиблиотечный абонемент (МБА);<br><br>

— Читальный зал гуманитарных и экономических наук;<br><br></strong>

<strong>Библиотекарь:</strong> Матказиева Гульмира Мадиаровна<br>
<strong>E-mail:</strong> madiarova.gulmira@yandex.ru<br>
<strong>Расположение:</strong> 1/261<br>
<br>
<strong>Часы работы:</strong> понедельник-пятница — 8:00–16:45<br>
суббота, воскресенье —выходной<br>
последний четверг месяца — санитарный день<br>
<br>
Читальный зал гуманитарных наук входит в состав отдела обслуживания. Фонд зала (около 6 тысяч экземпляров) представлен в открытом доступе, содержит отечественные и зарубежные документы по журналистике, искусству, истории, культурологии, педагогике, образованию, религии, социологии, филологии, философии, эстетике, этике, художественную литературу, справочные издания, энциклопедии, словари и полностью отражен в электронном каталоге.
<br><br>
Библиотекари-консультанты помогают пользователям в поиске информации, консультируют, выполняют справки по запросам.
<br><br>
К услугам читателей есть доступ к Интернет через Wi-Fi
<br><br>
<strong>— Читальный зал естественнонаучной и технической литературы;  
<br><br>
Старший библиотекарь:</strong> Чылабаева Айгуль Токтобековна<br>
<strong>E-mail:</strong> aigulya03@mail.ru<br>
<strong>Расположение:</strong> 1/362<br><br>

<strong>Часы работы:</strong> понедельник-пятница — 8:00–16:45<br>
суббота, воскресенье —выходной<br>
последний четверг месяца — санитарный день<br><br>

Читальный зал естественных и физико-математических наук входит в состав отдела обслуживания. Фонд зала (около 9 тысяч экземпляров) представлен в открытом доступе, содержит отечественные и зарубежные документы по астрономии, биологии, геологии, информатике, логике, технике, физике, химии, географии, математике, справочные издания, энциклопедии, словари и полностью отражен в электронном каталоге.<br><br>

Библиотекари-консультанты помогают пользователям в поиске информации, консультируют, выполняют справки по запросам.</p>
{% endblock %}