{% extends 'LibSite/layout.html' %}

{% block title %}Страницы истории{% endblock  %}

{% block content %}
<div class="textbox">
	<br><h1>Страницы истории</h1>
	<p>1954 год —  основание КГТУ (в то время –Фрунзенский политехнический институт), в том числе и библиотеки…<br>
<br>
<strong>В 70-е годы произошли заметные сдвиги в работе библиотеки:</strong><br>
<br>
— проведена большая работа по составлению справочно-поискового аппарата, утвердилась система регулярной информации, рассылаемой на кафедры; ежемесячно организовывались выставки новых поступлений, а также тематические выставки в помощь учебному процессу.<br>
<br>
В 80-е годы характеризуются новыми формами работы: — введена групповая обработка и выдача многоэкземплярной литературы, проводятся «Дни кафедр», «Дни информации», открытые просмотры литературы, внедрены новые формы обслуживания читателей.<br>
<br>
<strong>В 90-е годы  — начало компьютеризации библиотечных процессов.</strong>
<br>
Библиотека получила доступ к внешним информационным ресурсам, в том числе — сети Интернет.<br>
<br>
<strong>2002-2004 – Библиотека является активным участником международного проекта Tempus-Tacis «Модернизация университетской библиотеки»</strong>
<br>
<ul style="margin-left: 60px"><li>начал создаваться электронный каталог, посредством  ПО ИРБИС-32</li>
<li>библиотека комплектует фонд не только традиционными печатными изданиями, но и открывает<br> доступ к информационным ресурсам.</li>
<li>Приобретен большой парк компьютерной техники</li>
</ul></p>
<p><strong>2006 — «ЛЮДИ И КНИГИ» — Немецкая Библиотечная инициатива по Средней Азии и Восточной Европе. Гёте-Институт Алматы(Казахстан)</strong>
<br><br>
В рамках проекта было приобретена немецкоязычная литература (беллетристика, справочники, научные издания), периодика и электронные средства.
<br><br>
<strong>2007-2010 – Библиотека вновь является участницей международного проект Tempus «Обмен библиотечно-информационными ресурсами между  университетскими библиотеками Кыргызстана (Kyrlibnet):</strong><br>
<ul style="margin-left: 60px">
<li>Расширен компьютерный парк, приобретен книжный сканер</li>
<li>Обновлено программное обеспечение для ведения ЭК (ИРБИС-64)</li>
</ul></p>
<p>Создана web-платформа для размещения ресурсов<br>
<br>
<strong>2014-2015 -Открытые образовательные ресурсы- новая реальность для ВУЗов Кыргызстана. Сорос-Кыргызстан</strong>
<br><br>

Cодействия созданию хранилища ООР в ВУЗах Кыргызстана. Проведение цикла семинаров в ВУЗах Кыргызстана для повышения осведомленности о возможностях и преимуществах ООР.<br><br>

<strong>2017 — Co-WORKING CENTR. Институт развития молодежи.</strong>
<br><br>
Создание в библиотеки на абонементе современной  физической и интеллектуальной среды в качестве универсального, открытого и доступного пространства, куда студенты могут приходить, встречаться , обмениваться информацией и получать доступ  к знаниям.<br>
<br>
<strong>Библиотека сегодня:</strong>
<br><br>
Фонд библиотеки составляет около <strong>500 тыс. документов:</strong><br><br>

<strong>— учебная литература</strong>
<br><br>
<strong>— научная литература</strong>
<br><br>
<strong>— электронные издания на CD-ROM (медиатека)</strong>
<br><br>
<strong>— художественная литература</strong>
<br><br>
<strong>— периодические издания (газеты, журналы)</strong>
<br><br>
Автоматизированные базы данных (подробнее):
<br><br>
<strong>БД «Электронный каталог»</strong> насчитывает более 30 тыс. библиографических записей.
<br><br>
<strong>БД «Токтом»</strong> (полнотекстовая юридическая)
<br><br>
<strong>БД «ЕАПАТИС»</strong>
<br><br>
<strong>БД «Параграф»</strong> (юридическая)
<br><br>
<strong>БД «Винити»</strong> (реферативные журналы)
<br><br>
<strong>БД «Электронная библиотека»</strong> (полнотекстовая)</p>
<br><br>
</div>
{% endblock  %}