{% extends 'LibSite/layout.html' %}
{% load static from static %}

{% block title %}Известия КГТУ{% endblock  %}

{% block content %}

  <br><h1>Известия КГТУ</h1>
<div class="accordion" id="accordionExample">


  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThirteen">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseFourteen">
        Известия за 2021 год
      </button>
    </h2>
    <div id="collapseThirteen" class="accordion-collapse collapse show" aria-labelledby="headingThirteen" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>Выпуск № 1(57) за 2021 год</strong><a href="/documents/news_57_2021_AXLejQ3.pdf" style="margin-left: 10px;">Скачать</a><br>
        <strong>Выпуск № 2(58) за 2021 год</strong><a href="/documents/news_58_2021_2uP1usY.pdf" style="margin-left: 10px;">Скачать</a><br>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwelve">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseThirteen">
        Известия за 2020 год
      </button>
    </h2>
    <div id="collapseTwelve" class="accordion-collapse collapse" aria-labelledby="headingTwelve" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>Выпуск № 1(53) за 2020 год</strong><a href="/documents/news_53_2020_e2DlkVS.pdf" style="margin-left: 10px;">Скачать</a><br>
        <strong>Выпуск № 2(54) за 2020 год</strong><a href="/documents/news_54_2020_WnPWp3I.pdf" style="margin-left: 10px;">Скачать</a><br>
        <strong>Выпуск № 2(55) за 2020 год</strong><a href="/documents/news_55_2020_VEqNdz1.pdf" style="margin-left: 10px;">Скачать</a><br>
        <strong>Выпуск № 3(56) за 2020 год</strong><a href="/documents/news_56_2020_MMt2paJ.pdf" style="margin-left: 10px;">Скачать</a><br>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingEleven">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
        Известия за 2019 год
      </button>
    </h2>
    <div id="collapseEleven" class="accordion-collapse collapse" aria-labelledby="headingEleven" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>Выпуск № 1(49) за 2019 год</strong><a href="/documents/news_49_2019_tteG57K.pdf" style="margin-left: 10px;">Скачать</a><br>
        <strong>Выпуск № 2(50) часть 1 за 2019 год</strong><a href="/documents/news_50_1_2019_FJ1nbJN.pdf" style="margin-left: 10px;">Скачать</a><br>
        <strong>Выпуск № 2(50) часть 2 за 2019 год</strong><a href="/documents/news_50_2_2019_NOvuR6k.pdf" style="margin-left: 10px;">Скачать</a><br>
        <strong>Выпуск № 3(51) за 2019 год</strong><a href="/documents/news_51_2019_geeK6p5.pdf" style="margin-left: 10px;">Скачать</a><br>
        <strong>Выпуск № 4(52) за 2019 год</strong><a href="/documents/news_52_2019_GANWlFp.pdf" style="margin-left: 10px;">Скачать</a><br>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTen">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
        Известия за 2018 год
      </button>
    </h2>
    <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>Выпуск № 1(45) за 2018 год</strong><a href="/documents/news_45_2018_jsUc4vG.pdf" style="margin-left: 10px;">Скачать</a><br>
        <strong>Выпуск № 2(46) за 2018 год</strong><a href="/documents/news_46_2018_TGtuDGt.pdf" style="margin-left: 10px;">Скачать</a><br>
        <strong>Выпуск № 2(47) за 2018 год</strong><a href="/documents/news_47_2018_0zBD3dl.pdf" style="margin-left: 10px;">Скачать</a><br>
        <strong>Выпуск № 3(48) за 2018 год</strong><a href="/documents/news_48_2018_7HfmhXj.pdf" style="margin-left: 10px;">Скачать</a><br>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingNine">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
        Известия за 2017 год
      </button>
    </h2>
    <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>Выпуск № 1(41) часть 1 за 2017 год</strong><a href="/documents/news_41_1_2017_EkZTkcY.pdf" style="margin-left: 10px;">Скачать</a><br>
        <strong>Выпуск № 1(41) часть 2 за 2017 год</strong><a href="/documents/news_41_2_2017_X1ksNJ3.pdf" style="margin-left: 10px;">Скачать</a><br>
        <strong>Выпуск № 2(42) за 2017 год</strong><a href="/documents/news_42_2017_WinbYHw.pdf" style="margin-left: 10px;">Скачать</a><br>
        <strong>Выпуск № 3(43) за 2017 год</strong><a href="/documents/news_43_2017_R5hoY6t.pdf" style="margin-left: 10px;">Скачать</a><br>
        <strong>Выпуск № 4(44) за 2017 год</strong><a href="/documents/news_44_2017_8iHWYZ6.pdf" style="margin-left: 10px;">Скачать</a><br>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingNine">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
        Известия за 2017 год
      </button>
    </h2>
    <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>Выпуск № 1(41) часть 1 за 2017 год</strong><a href="/documents/news_41_1_2017_EkZTkcY.pdf" style="margin-left: 10px;">Скачать</a><br>
        <strong>Выпуск № 1(41) часть 2 за 2017 год</strong><a href="/documents/news_41_2_2017_X1ksNJ3.pdf" style="margin-left: 10px;">Скачать</a><br>
        <strong>Выпуск № 2(42) за 2017 год</strong><a href="/documents/news_42_2017_WinbYHw.pdf" style="margin-left: 10px;">Скачать</a><br>
        <strong>Выпуск № 3(43) за 2017 год</strong><a href="/documents/news_43_2017_R5hoY6t.pdf" style="margin-left: 10px;">Скачать</a><br>
        <strong>Выпуск № 4(44) за 2017 год</strong><a href="/documents/news_44_2017_8iHWYZ6.pdf" style="margin-left: 10px;">Скачать</a><br>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingEight">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
        Известия за 2016 год
      </button>
    </h2>
    <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>Выпуск № 1(37) за 2016 год</strong><a href="/documents/news_37_2016_Y3brQ5d.pdf" style="margin-left: 10px;">Скачать</a><br>
        <strong>Выпуск № 2(38) за 2016 год</strong><a href="/documents/news_38_2016_w8DZ41l.pdf" style="margin-left: 10px;">Скачать</a><br>
        <strong>Выпуск № 3(39) часть 1 за 2016 год</strong><a href="/documents/news_39_1_2016_syedivf.pdf" style="margin-left: 10px;">Скачать</a><br>
        <strong>Выпуск № 3(39) часть 2 за 2016 год</strong><a href="/documents/news_39_2_2016_XCRuCkb.pdf" style="margin-left: 10px;">Скачать</a><br>
        <strong>Выпуск № 4(40) за 2016 год</strong><a href="/documents/news_40_2016_jhVbnzq.pdf" style="margin-left: 10px;">Скачать</a><br>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingSeven">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
        Известия за 2015 год
      </button>
    </h2>
    <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>Выпуск № 1(34) за 2015 год</strong><a href="/documents/news_34-1_2015_NKdK4Fa.pdf" style="margin-left: 10px;">Скачать</a><br>
        <strong>Выпуск № 2(35) за 2015 год</strong><a href="/documents/news_35_2015_3qJx6PJ.pdf" style="margin-left: 10px;">Скачать</a><br>
        <strong>Выпуск № 2(36) за 2015 год</strong><a href="/documents/news_36_2015_cwsY5H3.pdf" style="margin-left: 10px;">Скачать</a><br>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingSix">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
        Известия за 2014 год
      </button>
    </h2>
    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>Выпуск № 32 часть 1 за 2014 год</strong><a href="/documents/news_32_1_2014_JTUF55B.pdf" style="margin-left: 10px;">Скачать</a><br>
        <strong>Выпуск № 32 часть 2 за 2014 год</strong><a href="/documents/news_32_2_2014_sqjii2K.pdf" style="margin-left: 10px;">Скачать</a><br>
        <strong>Выпуск № 33 за 2014 год</strong><a href="/documents/news_33_2014_LqLlCZ1.pdf" style="margin-left: 10px;">Скачать</a><br>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFive">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
        Известия за 2013 год
      </button>
    </h2>
    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>Выпуск № 26 за 2013 год</strong><a href="/documents/news_28_2013_CIFFr0L.pdf" style="margin-left: 10px;">Скачать</a><br>
        <strong>Выпуск № 29 за 2013 год</strong><a href="/documents/news_29_2013_wYAVWBf.pdf" style="margin-left: 10px;">Скачать</a><br>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        Известия за 2012 год
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>Выпуск № 26 за 2012 год</strong><a href="/documents/news_26_2012_s2gyy7p.pdf" style="margin-left: 10px;">Скачать</a><br>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Известия за 2011 год
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>Выпуск № 23 за 2011 год</strong><a href="/documents/news_23_2011_9WIvc0x.pdf" style="margin-left: 10px;">Скачать</a><br>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Известия за 2010 год
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>Выпуск № 19 за 2010 год</strong><a href="/documents/news_19_2010_PiNETaF.pdf" style="margin-left: 10px;">Скачать</a><br>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Известия за 2009 год
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>Выпуск № 17 за 2009 год</strong><a href="/documents/news_17_2009_81y84Zn.pdf" style="margin-left: 10px;">Скачать</a><br>
      </div>
    </div>
  </div> 

</div>
{% endblock  %}