{% extends 'LibSite/layout.html' %}

{% block title %}Токтом{% endblock  %}

{% block content %}
	<h1>Токтом</h1>
	<div class="texbox">
		<p>
			Законодательство Кыргызской Республики<br>
<br>
База данных <strong>«Корпорация»</strong><br>
<br>
Крупнейший в Кыргызстане банк правовой информации по законодательству КР и стран СНГ. База данных «Корпорация» предназначена, в первую очередь, для предприятий и организаций, осознающих необходимость в ежедневном, качественном информационном обеспечении большого числа своих сотрудников. «Корпорация» единственная база данных, содержащая более ста тысяч документов, содержащая следующие разделы: Законодательство КР; Международное законодательство; Архив судебных решений, в том числе судебные акты местных судов; Образцы деловых документов; Публикации, комментарии специалистов; Бизнес-справки, статданные, включая банковскую, экономическую и юридическую рубрики; Законодательство стран СНГ.
<br><br>
«Корпорация» не имеет ограничений по количеству пользователей в локальной сети, что позволяет каждому сотруднику работать индивидуально. Обновление базы данных производится ежедневно автоматически через Интернет.
		</p>
	</div>
	<a href="http://www.toktom.kg/" style="margin-left: 50px;">Посетить сайт</a>
	<br>
	<p></p>
{% endblock  %}